<div class="row justify-content-sm-center">
  <div class="col-sm-10 col-md-7 text-center">
    <div class="form-group">
      <label></label>
      <input type="text" class="form-control form-control-lg" id="" placeholder="Paste URL from Twitter or Instagram">
    </div>
    <a href="#" class="btn btn-success">Fetch</a>
  </div>

</div>

<script>
  $.get('/get_media', function(data, status){
    console.log(data);
  });

  fetch('https://api.instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=token').then((data) => data)
</script>
