<div class="row justify-content-sm-center">
  <div class="col-sm-10 col-md-7 text-center">
    <div class="form-group">
      <label></label>
      <input type="text" class="form-control form-control-lg" id="" placeholder="Paste URL from Twitter or Instagram">
    </div>
    <a href="#" class="btn btn-success">Fetch</a>
  </div>

</div>
